body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
}

button {
    color: white;
    background-color: #7DA2A9;
    border: 0;
    padding: 10 15;
    margin: 20;
    border-radius: 20px;
}

button:hover {
    background-color: #73b2bf;
}

button:active {
    transform: translate(2px, 2px) scale(1.05);
    
    background-color: #7DA2A9;
}
    
    