body {
    background-color: #F7F7F7;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: black;
}

header, footer {
    display: flex;
    align-self: center;
    justify-content: space-between;
    height: 3.125rem;
    padding: 0 1.25rem 0 1.25rem;
    background-color: #7DA2A9;
    color: white;
    line-height: 3.125rem;
    vertical-align: middle;
}

footer {
    display: flex;
    justify-content: center;
    font-size: small;
}

main {
    margin: 1.25rem 1.25rem 5rem 1.25rem}

figure {
    width: 100%;
    height: 100%;
    margin: 0;
}

.headerRight {
    display: flex;
    align-items: center;
}

.pageTitle {
    display: flex;
    justify-content: center;
    width: 100%;
}

.iconHeader {
    width: 2rem;
    height: auto;
    margin: 0.313rem;
    background-image: url("../images/heart_header.png");
}

.iconSelected, .iconUnselected {
    max-width: 2rem;
    max-height: 2rem;
    margin: 0.313rem;
    background-image: url("../images/heart_selected_32x32.png");
}


.iconUnselected {
    background-image: url("../images/heart_unselected_32x32.png");
}

.likesCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: auto;
    line-height: 2rem;
}

.buttonContainer {
    display: flex;
    justify-content: end;
    width: 100%;
}

.mainSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
}

.cardImage {
    display: block;
    z-index: -1;
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: .5s ease;
    opacity: 1;
    backface-visibility: hidden;
}

.cardDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.75rem;
    height: 18.75rem;
    margin-top: -18.75rem;
    font-size: small;
    text-align: center;
    color: black;
    transition: .5s ease;
    opacity: 0;
}

.cardContainer {
    width: 18.75rem;
    max-width: 100%;
    height: auto;
    margin: 0.313rem;
    padding: 0.625rem;
    background-color: white;
    cursor: not-allowed;
}

.cardContainer:hover .cardImage {
    opacity: 0.3;
}
  
.cardContainer:hover .cardDescription {
    opacity: 1;
}

.cardIcon {
    display: flex;
    position: absolute;
    z-index: 100;
    width: 2rem;
    height: 2rem;
    margin: 0.313rem 0.313rem 0.313rem 15.625rem;
    transition: transform 0.25s ease;
    cursor: pointer;
}

.cardIcon:active  {
    transform:scale(2);
}

.animateIcon {
    transform:scale(2);
}